.container {
    height: 100%;
    width: 100%;
    animation: fadeInOpacity .5s;
}

.placeholderImg {
    height: 400px;
    width: 300px;
    background-color: #eee;
}

.funCard {
    width: 20em;
    height: 30em;
    background-color: #eee; 
    margin: 1em;

    &:first-child {
        margin-left: 0;
    }

    &:last-child {
        margin-right: 0;
    }
}

.alignCenter {
    >* {
        align-items: center;
    }
}

@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}