.container {
    height: 100%;
    width: 100%;
    padding-left: 20em;
}

.placeholderImg {
    height: 400px;
    width: 300px;
    background-color: #eee;
}

.funCard {
    width: 20em;
    height: 30em;
    background-color: #eee; 
    margin: 1em;

    &:first-child {
        margin-left: 0;
    }

    &:last-child {
        margin-right: 0;
    }
}

.alignCenter {
    >* {
        align-items: center;
    }
}