.container {
    align-self: center;
    padding: 1.2em;
}

.infoContainer {
    max-width: 23em;
    line-height: 1.6;
}

.table {
    padding-top: 1em;

    td:not(:first-child) {
        padding-left: 2.2em;
    }
}

.strikethrough {
    text-decoration: line-through;
}