.relativeContainer {
    position: relative;
    padding: .8em 1em;
    display: flex;
    align-items: center;
}

.mineContainer {
    z-index: 1;
}

.resetButton {
    cursor: pointer;
    height: 26px;
    width: 26px;
    margin: 0 auto;
}

.timeContainer {
    z-index: 1;
}