.container {
    display: inline-block;
    border: 1px solid;
    z-index: 100;
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: white;
    transition: .5s ease;
    transform: scale(0);
}

.rndOverlay {
    z-index: 2;
}

.rndOverlayClose {
    z-index: -100 !important;
}

.containerWindow {
    position: relative;
    height: 100%;
}

.containerBoard {
    position: relative;
    height: 100%;
}

.enterDone {
    transform: scale(1);
}

.exit, .exitActive, .exitDone {
    transform: scale(0);
}

@media only screen and (max-width: '768px') {
    .rndOverlay {
        display: none !important;
    }
}

@keyframes scaleIn {
    from {
        transform: scale(0);
    }
    to {
        transform: scale(1);
    }
}