.container {
    display: inline-block;
    border: 1px solid;
    z-index: 100;
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: white;
    transition: transform .5s ease;
}

.rndOverlay {
    z-index: 2;
    position: fixed !important;
}

.rndOverlayClose {
    z-index: -100 !important;
    display: none !important;
}

.windowContainer {
    width: 100%;
    height: 100%;
}

.containerWindow {
    position: relative;
    height: 100%;
}

.containerBoard {
    position: relative;
    height: 100%;
}

.enterDone {
    opacity: 1;
}

.exit, .exitActive, .exitDone {
    transform: scale(0);
}

@media only screen and (max-width: '768px') {
    .rndOverlay, .rndOverlayClose {
        display: none !important;
    }
}

@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}