.projectContainer {
    width: 100%;
}

.projectRow {
    display: flex;
    flex-flow: row wrap;
    margin: 0 -1.5em;
}

.projectCard {
    flex-basis: 100%;
    margin: 1.5em;
    height: 20em;
    background-color: #eee;
    background-size: cover;
    background-position: center;

    &:first-child {
        margin-top: 0;
    }
}

@media only screen and (min-width: '1440px') {
    .projectCard {
        flex-basis: calc(50% - 3em);

        &:first-child {
            margin-top: 1.5em;
        }
    }

    .projectContainer {
        padding: 4em 15em;
    }    
}

@media only screen and (min-width: '1800px') {

    .projectContainer {
        padding: 4em 20em;
    }
}

@keyframes slideIn {
    from {
        transform: translateY(100%);
        opacity: 0;
    }
    
    to {
        transform: translateY(0%);
        opacity: 1;
    }
}