.projectContainer {
    width: 100%;
    padding: 4em 1.2em 4em 1.2em;
}

.projectRow {
    display: flex;
    flex-flow: row wrap;
    margin: 0 -1em;
}

.projectCard {
    flex-basis: 100%;
    margin: 0 1em 1em;
    background-color: #fafafa;
    background-size: cover;
    background-position: center;

    &:first-child {
        margin-top: 0;
    }
}

@media only screen and (min-width: '768px') {
    .projectContainer {
        padding-left: 15em;
    }
}

@media only screen and (min-width: '1200px') {
    .projectCard {
        flex-basis: calc(50% - 2em);
        margin: 1em;

        &:first-child {
            margin-top: 1em;
        }
    }
}

@media only screen and (min-width: '1800px') {

    .projectContainer {
        padding: 4em 20em;
    }

    .projectCard {
        flex-basis: calc(50% - 3em);
        margin: 1.5em;

        &:first-child {
            margin-top: 1.5em;
        }
    }

    .projectRow {
        margin: 0 -1.5em;
    }
}