.container {
    display: flex;
    width: 100%;
    flex-direction: column;
    padding: 4em 1.2em 4em 1.2em;

    >* {
        margin-bottom: 2em;
    }
}

.headerContainer {
    display: flex;
    flex-direction: column;
    animation: fadeInOpacity .5s;
}

.contentContainer {
    flex-basis: 100%;

    &:first-child {
        flex-basis: 100%;

        > * {
            padding-left: 4rem;
        }
        .subtitle {
            font-size: .8em;
            letter-spacing: 1px;
        }
    }

    margin-right: 1.2em;

    >*:first-child {
        margin-bottom: 1.5em;
    }

    p {
        line-height: 150%;
        margin: .4em 0;
    }
}

.projectImage {
    max-width: 100%;

    img {
        width: 100%;
        height: auto;
    }
}

.placeholder {
    background-color: #fafafa;
}

.thumbnailContainer {
    margin: 3em 0;

    >* {
        display: inline-block;
    }
}

.thumbnailItem {
    width: 100%;
}

.thumbnail {
    composes: placeholder;
}

.contentContainer {

    &:first-child {
        > * {
            padding-left: 0;
        }
    }
}

@media only screen and (min-width: '768px') {
    .container {
        padding: 4em 8em;

        >* {
            margin-bottom: 3em;
        }
    }

    .headerContainer {
        flex-direction: row;
    }

    .thumbnailItem {
        min-width: 200px;
        width: auto;
    }

    .thumbnailContainer {
        >*:nth-child(2) {
            text-align: right;
            float: right;
        }
    }
}

@media only screen and (min-width: '1200px') {
    .headerContainer {
        flex-direction: row;
    }

    .container {
        padding: 6em 8em;
    }

    .contentContainer {

        &:first-child {
            > * {
                padding-left: 12rem;
            }
        }
    }

    .thumbnailItem {
        min-width: 300px;
    }
}

@media only screen and (min-width: '1800px') {

    .container {
        padding: 10em 8em;
    }
}

@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}