.container {
    display: flex;
    width: 100%;
    flex-direction: column;
    padding: 4em 1.2em 4em 1.2em;

    >* {
        margin-bottom: 3em;
    }
}

.headerContainer {
    display: flex;
    flex-direction: column;
    animation: fadeInOpacity .5s;
}

.contentContainer {
    flex-basis: 100%;

    &:first-child {
        flex-basis: 70%;

        .subtitle {
            font-size: .8em;
            letter-spacing: 1px;
        }
    }

    margin-right: 1.2em;

    >*:first-child {
        margin-bottom: 1.5em;
    }

    p {
        line-height: 150%;
        margin: .4em 0;
    }
}

.projectImage {
    max-width: 100%;

    img {
        width: 100%;
        height: auto;
    }
}

.placeholder {
    background-color: #fafafa;
}

@media only screen and (min-width: '768px') {
    .container {
        padding: 4em 10em;
    }

    .headerContainer {
        flex-direction: row;
    }
}

@media only screen and (min-width: '1200px') {
    .headerContainer {
        flex-direction: row;
    }

    .container {
        padding: 6em 15em;
    }
}

@media only screen and (min-width: '1800px') {

    .container {
        padding: 10em 20em;
    }
}

@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}