.container {
    display: flex;
    width: 100%;
    flex-direction: column;
    padding: 4em 1.2em 4em 1.2em;

    >* {
        margin-bottom: 3em;
    }
}

.headerContainer {
    display: flex;
    flex-direction: column;
}

.contentContainer {
    max-width: 20em;
    margin-right: 1.2em;
}

.projectImage {
    max-width: 100%;

    img {
        width: 100%;
        height: auto;
    }
}

.placeholder {
    background-color: #fafafa;
}

@media only screen and (min-width: '768px') {
    .container {
        padding: 4em 10em;
    }

    .headerContainer {
        flex-direction: row;

        >* {
            flex-basis: 50%;
        }
    }
}

@media only screen and (min-width: '1200px') {
    .headerContainer {
        flex-direction: row;

        >* {
            flex-basis: 30%;
        }
    }

    .container {
        padding: 4em 15em;
    }
}

@media only screen and (min-width: '1800px') {

    .container {
        padding: 10em 20em;
    }
}