.cell {
  flex-basis: 100%;
  height: 1em;
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-top: 0;
  border-right: 0;

  &:last-child {
    border-right: 1px solid black;
  }
}

.cellOpened {
  background-color: black;
  color: white;
}

.flag {
  background-position: -16px -39px;
}

.fadeIn {
  animation: fadeIn .3s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}