.nav {
    display: inline-block;
    position: fixed;
    pointer-events: auto;
    opacity: 1;
    width: 22em;
    height: 100%;
    z-index: 3;
    transition: opacity 500ms cubic-bezier(0.39, 0.575, 0.565, 1) 0ms;
}

.topLeft, .bottomRight, .topRight, .navLinks, .socialLinks {
    will-change: opacity;
    animation: slideIn 1.5s;
    z-index: 100;
}

.topLeft {
    position: absolute;
    top: 2em;
    left: 2em;
}

.bottomRight {
    position: absolute;
    bottom: 2em;
    right: 2em;
}

.topRight, .mobileNav {
    position: absolute;
    display: none;
    right: 2em;
    top: 2em;
}

.navLinks {
    position: absolute;
    display: none;
    top: 2em;

    >*:not(:first-child) {
        padding: 0 1em;
    }
}

.socialLinks {
    position: absolute;
    left: 2em;
    bottom: 60%;

    >*:first-child {
        padding-bottom: 2em;
    }
}

.mobileNav {
    display: block;
}

.mobileNavItems {
    display: none;
}

.mobileNavItemsOpen {
    display: block;
}

.activeLink {
    font-weight: 600;
}

@media only screen and (min-width: '768px') {

    .navLinks {
        display: block;
        left: 22em;
    }

    .topRight {
        display: block;
    }

    .socialLinks {
        bottom: 50%;
    }

    .mobileNav {
        display: none;
    }

    .topRight, .bottomRight, .navLinks {
        position: fixed;
    }
}

@media only screen and (min-width: '1400px') {

    .bottomRight {
        right: 2em;
    }
}

@keyframes slideIn {
    from {
        transform: translateY(100%);
        opacity: 0;
    }
    
    to {
        transform: translateY(0%);
        opacity: 1;
    }
}