.topLeft, .bottomRight, .topRight, .navLinks, .verticalNav {
    will-change: opacity;
    z-index: 1;

    a {
        &:hover:after {
                transform: scaleX(1);
                visibility: visible;
        }

        &:after {
            content: "";
            position: absolute;
            width: 100%;
            height: 1px;
            bottom: -2px;
            left: 0;
            background-color: #000;
            visibility: hidden;
            transform: scaleX(0);
            transition: all .3s ease-in-out 0s;
        }
    }
}

.topLeft {
    position: absolute;
    top: 1.2em;
    left: 1.2em;
}

.bottomLeft {
    position: absolute;
    bottom: 1.2em;
    left: 1.2em;
}

.topRight {
    position: absolute;
    right: 1.2em;
    top: 1.2em;
}

.bottomRight {
    position: absolute;
    bottom: 1.2em;
    right: 1.2em;
}

.verticalNav {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    padding: 1em 1.2em;
    z-index: 1;
    min-height: 1.2em;
    background-color: white;
}

.navLinks {
    >*:not(:first-child) {
        margin: 0 1em;
    }

    >*:last-child {
        margin-left: auto;
        margin-right: 0;
    }
}

.verticalNavBottom {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 1.2em;
    z-index: 1;
    min-height: 1.2em;
    background-color: white;
}

.navTopActive, .navBottomActive {
    transition: .5s ease;
    transform: translateY(0);
}

.navTopHidden {
    transition: .5s ease;
    transform: translateY(-100%);
}

.navBottomHidden {
    transition: .5s ease;
    transform: translateY(100%);
}

.navLinks {
    position: absolute;
    display: none;
    top: 1.2em;

    >*:not(:first-child) {
        margin: 0 1em;
    }
}

.icon {
    height: 1em;
    width: 1em;
    cursor: pointer;
}

.mobileNav {
    background-color: white;
    z-index: 5;
    position: absolute;
    display: flex;
    left: 0;
    right: 0;
    padding: 1em 1.2em;
    top: 0;

    >:nth-child(2) {
        margin-left: auto;
    }
}

.mobileNavItems {
    transition: .3s ease-in-out;
    padding: 4em 1.2em;
    display: none;
}

.mobileNavItemsOpen {
    position: fixed;
    transition: .3s ease-in-out;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    z-index: 4;
    background-color: white;

    a {
        color: black;
        padding: .5em;
        font-size: 2em;
    }
}

.activeLink {
    font-weight: 600;
}

.hideMobile {
    display: none;
}

.showMobile {
    display: block;
}

@media only screen and (min-width: '768px') {

    .topRight, .nav, .navLinks {
        display: block;
    }

    .hideMobile {
        display: block;
    }

    .showMobile {
        display: none;
    }

    .navLinks {
        left: 20em;
    }

    .mobileNav {
        display: none;
    }

    .topRight, .bottomRight, .navLinks {
        position: fixed;
    }

    .verticalNav {
        display: flex;
        padding: 1.2em 1.2em 1.2em 15em;
    }

    .bottomLeft {
        left: 1.2em;
        right: 0;
    }
}

@media only screen and (min-width: '1800px') {

    .verticalNav {
        padding-left: 20em;
    }
}